a {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}

/* ここから先ポップアップ */

.popapp-wrapper {

  
  position: fixed;
  top: 150px;
  right: 30px;
  z-index: 10;
  display: block;
}


.popapp-wrapper a{
  display: inline-block;
}
.fixed-info {
  padding: 20px;
  box-shadow: 0 0 5px #0095d9, inset 0 0 5px #0095d9, 0 0 10px #0095d9,
    inset 0 0 10px #0095d9, 0 0 25px #0095d9, inset 0 0 25px #0095d9,
    0 15px 3px #000;
  border: 2px solid #fff;
  border-radius: 15px;
  width: auto;
  height: auto;
  background-color: #fff;
}
.fixed-info-textbox {
  padding: 16px 20px;
  display: block;
  line-height: 1.3;
  color: #ffd8d8;
}

.fixed-info-text {
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #333;
  font-weight: 900;
}

.fixed-info-text h2 {
  cursor: pointer;
}

.fixed-info-text h2:hover {
  color: #0095d9;
}

.fixed-info-close {
  box-shadow: 0 0 5px #0095d9, inset 0 0 5px #0095d9, 0 0 10px #0095d9,
    inset 0 0 10px #0095d9, 0 0 25px #0095d9, inset 0 0 25px #0095d9;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.fixed-info-close:before {
  content: "";
  background: #ffffff;
  width: 17px;
  height: 1px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  box-sizing: border-box;
  margin-top: -1px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.fixed-info-close:after {
  content: "";
  background: #ffffff;
  width: 17px;
  height: 1px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  box-sizing: border-box;
  margin-top: -1px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.opa {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}



@media (max-width: 700px){
  .popapp-wrapper {
    top: initial;
    position: absolute;
    bottom: 5%;
    right:0;
    max-width: 90%;
    width: 100%;
    margin: 0 20px;
  }

  .popapp-wrapper a{
    display: inline-block;
  }

  .fixed-info{
    padding: 0 2rem;

  }
  .fixed-info-text {
    font-size: 0.5rem;
    padding: 0;
  }
  .fixed-info-close{
    top: 0;
  }
}
