body {
  overflow-y: hidden;
}

/* スクロールみー非表示 */
.scrolldown4 {
  display: none;
}

/* 線 */
.liner-wrapper {
  position: absolute;
  width: 100%;
  top: 45%;
}

#liner {
  margin: 70px 20px;
}

.border {
  position: relative;
  font-size: 18px;
  color: white;
}

.border:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: solid 2px rgb(255, 255, 255, 0.7);
  animation: border_anim 3s linear infinite;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* 写真 */
.photos-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  position: absolute;
  height: auto;
  width: 1200px;
  top: 70%;
  left: 0%;
  transform: translateY(-50%);
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

.photos-wrapper::-webkit-scrollbar {
  display: none;
}

.photo-item {
  display: inline-block;
  width: 50%;
  height: 300px;
  /* margin: 16px; */
  font-size: 48px;
  color: #fff;
  background-color: #241f1f00;
  /* color: #d2d2d214; */
  /* position: relative; */
}

/* 疑似要素(何月) */
.photo-item-style {
  position: relative;
  width: 80%;
  height: auto;
}

.photo-item-style::before {
  position: absolute;
  content: attr(data-month);
  top: -10%;
  left: 5%;
  font-family: 'Vibur', cursive;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.599);
  z-index: 10000;
}

.photo-item-style::after {
  position: absolute;
  content: attr(data-text);
  top: 110%;
  left: 0;
  font-family: 'Kaisei Decol', serif;
  background: rgba(255, 255, 255, 0.188);
  font-size: 20px;
  padding: 10px;
}

.photo-item-img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}


/* POSSE１から独立し2の設立へ立ち上がった2期生！！！！ */
#photoItem1 {
  margin-left: 20rem;
}

/* POSSE2爆誕！！！！ */
#photoImg2 {
  transform: translateY(-30%);
  width: auto;
  height: auto;
  margin-left: 0;
  font-size: 40px;
}
/* リアイベで徐々に仲を深めてく!!!! */
#photoImg3  {
  transform: translateX(-8rem);
}
/* 課題サポート会で2.5期生の課題を手助けし、、、 */
#photoImg3 {
  width: auto;
  height: auto;
  margin-left: 0;
  font-size: 1rem;
}
/* 2.5期生一ヶ月の学習の成果を発揮する時！！！ */
#photoItem4 {
  transform: translateX(-7rem);
}
#photoImg4 {
  width: auto;
  height: auto;
  margin-left: 0;
  font-size: 1rem;
  transform: translateY(5rem);
}
/* 2.5期生一ヶ月の学習の成果を発揮する時！！！-2 */
#photoImg5 {
  margin-left: 0;
  transform: translateY(10rem);
  font-size: 1.5rem;
}
/* クリスマスパーティーや初詣を経て、、、 */
#photoItem7 {
  transform: translateX(3rem);
}
#photoImg7 {
  margin-left: 10rem;
  transform: translateY(5rem);
  font-size: 1.5rem;
}
#photoImg8 {
  transform: translateY(8rem);
  font-size: 1.5rem;
}
/* 大学生最大の試練　期末期間に突入！！！ */
#photoImg9 {
  transform: translateX(5rem);
  font-size: 1.5rem;
}
/* <!-- 2期生と2.5期生の絆が試される時！！！ --> */
#photoImg10 {
  transform: translateY(5rem);
  font-size: 1.5rem;
}
/* iPad対応レスポンシブデザイン */
@media (max-width: 900px) {
  /* 線非表示 */
  .liner-wrapper {
    display: none;
  }



.photos-wrapper {
overflow-y: auto;
white-space: nowrap;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
}
