body {
    overflow-y: hidden;
}
#video{
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;/*高さを全画面にあわせる*/
} 

#video-area{
    /* position: fixed; */
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

/*見出し設定*/
h1{
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    color:#fff;
    text-shadow: 0 0 15px #666;
}

/* 線 */
.liner-wrapper {
    position: absolute;
    width: 100%;
    top: 45%;
}
  p {
    padding: 10px;
  }
  
  #liner {
    margin: 70px 20px;
  }
  
  .border{
    position: relative;
    font-size: 18px;
    color: white;
  }
  
  .border:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px rgb(255, 255, 255,0.7);
    animation: border_anim 3s linear infinite;
  }
  
  @keyframes border_anim {
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }

/* 写真 */
.photos-wrapper {
	overflow-x: auto;
	white-space: nowrap;
    position: absolute;
    height: 100%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.photos-wrapper::-webkit-scrollbar{
    display: none;
  }
.photo-item {
	display: inline-block;
	width: 50%;
	height: 300px;
	/* margin: 16px; */
	font-size: 48px;
	color: #fff;
	background-color: #241f1f00;
    /* color: #d2d2d214; */
    /* position: relative; */
}
/* 疑似要素、月 */
.photo-item-style  {
    position: relative;
    width: auto;
    height: auto;
}
.photo-item-style::before {
    position: absolute;
    content: attr(data-en);
    top: -10%;
    left: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.615);
    z-index: 10000;
}
.photo-item-style::after {
    position: absolute;
    content: attr(data-af);
    top: 80%;
    left: 0;
    font-family: 'Kaisei Decol', serif;
}
.photo-item-img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
}


/* POSSE１から独立し2の設立へ立ち上がった2期生！！！！ */
#photoItem1 {
    margin-left: 0;
    transform: translateY(40%);
}
#photoImg1 {
    width: auto;
    height: auto;
    margin-left: 0;
    font-size: 24px
}

/* POSSE2爆誕！！！！ */
#photoItem2 {
    transform: translateY(-30%);
}
#photoImg2 {
    width: auto;
    height: auto;
    margin-left: 0;
    font-size: 40px;
}

/* 課題サポート会で2.5期生の課題を手助けし、、、 */
#photoImg3 {
    width: auto;
    height: auto;
    margin-left: 0;
    font-size: 1rem;
}
/* 2.5期生一ヶ月の学習の成果を発揮する時！！！ */
#photoImg4 {
    width: auto;
    height: auto;
    margin-left: 0;
    font-size: 1rem;
}