body {
  overflow: hidden;
  width: 100%;
  height: auto;
}

/* スクロールみー非表示 */
.scrolldown4 {
  display: none;
}

/* 線 */
.liner-wrapper {
  position: absolute;
  width: 100%;
  top: 45%;
}

#liner {
  margin: 70px 20px;
}

.border {
  position: relative;
  font-size: 18px;
  color: white;
}

.border:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: solid 2px rgb(255, 255, 255, 0.7);
  animation: border_anim 3s linear infinite;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* 写真 */
.photos-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  position: absolute;
  height: auto;
  width: 1200px;
  top: 70%;
  left: 0%;
  transform: translateY(-50%);
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

.photos-wrapper::-webkit-scrollbar {
  display: none;
}

.photo-item {
  display: inline-block;
  width: 50%;
  height: 300px;
  /* margin: 16px; */
  font-size: 48px;
  color: #fff;
  background-color: #241f1f00;
  /* color: #d2d2d214; */
  /* position: relative; */
}

/* 疑似要素(何月) */
.photo-item-style {
  position: relative;
  width: 80%;
  height: auto;
}

.photo-item-style::before {
  position: absolute;
  content: attr(data-month);
  top: -10%;
  left: 5%;
  font-family: "Vibur", cursive;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.599);
  z-index: 10000000;
}

.photo-item-style::after {
  position: absolute;
  content: attr(data-text);
  top: 110%;
  left: 0;
  font-family: "Kaisei Decol", serif;
  background: rgba(255, 255, 255, 0.188);
  font-size: 20px;
  padding: 10px;
}

.photo-item-img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

/* POSSE１から独立し2の設立へ立ち上がった2期生！！！！ */
#photoItem1 {
  margin-left: 20rem;
}

/* iPad対応レスポンシブデザイン */
@media (max-width: 900px) {
  /* 線非表示 */
  .liner-wrapper {
    display: none;
  }

  .photos-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

/* スマホ対応レスポンシブデザイン */
@media (max-width: 400px) {
  html {
    overflow: hidden;
    width: 100%;
    height: auto;
  }

  body {
    overflow: hidden;
  }
  /* 線非表示 */
  .liner-wrapper {
    display: none;
  }
  /* 擬似要素の大きさ */
  .photo-item-style::before {
    position: absolute;
    content: attr(data-month);
    top: -10%;
    left: 5%;
    font-family: "Vibur", cursive;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.599);
    z-index: 10000000;
  }

  .photo-item-style::after {
    display: none;
  }
  .photos-wrapper {
    overflow-x: scroll;
    white-space: nowrap;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 70%;
    left: 0%;
    transform: translateY(-50%);
    /* -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
  }
}



