@charset "UTF-8";

html,
body {
  height: 100%;
  background: linear-gradient(#07070a, black);
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

.content {
  margin: 0 auto;
  max-width: 80%;
}
#interviewContent {
  padding-top: 15%;
  padding-bottom: 15%;
}

.interview-title {
  color: #0095d9;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.interview-title-en {
  font-size: 120px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  font-family: "Roboto", sans-serif;
  -webkit-transition: color 0ms 450ms;
  transition: color 0ms 450ms;
  text-shadow: 5px 3px 0px #fff;
}

.interview-title-ja {
  padding-left: 0.1666666667em;
  font-size: 30px;
}

.interview-content {
  margin: 300px 0;
}

.interview-content-list {
  width: 100%;
  height: 300px;
  display: flex;
  margin: 100px 0 200px 0;
  /* box-shadow: 0 0 0 0.5px #fff, 12px 12px 0 0 #fff, 12px 12px 0 0.5px #fff; */
}

.interview-content-list:nth-child(even) {
  flex-direction: row-reverse;
}

/* 左から */

.fadeLeft {
  animation-name: fadeLeftAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 右から */

.fadeRight {
  animation-name: fadeRightAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.interview-content-list-profile {
  height: 100%;
  position: relative;
}

.interview-content-list-profile-name {
  font-weight: 500;
  line-height: 1.8181818182;
  letter-spacing: 0.2em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  position: absolute;
  -webkit-transition: 0ms 200ms;
  transition: 0ms 200ms;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.interview-content-list-profile img {
  width: 300px;
  height: auto;
  filter: drop-shadow(20px 20px 0 #0095d9);
}

.interview-content-list-profile-text {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.interview-content-list-profile-text p {
  font-size: 1.5em;
  color: #fff;
}

.interview-content-list-text {
  height: 300px;
  position: relative;
  text-align: left;
  margin: 20px;
}

.interview-content-question {
  padding: 2rem;
}
.interview-content-question h3 {
  padding: 5px 5px 5px 20px;
  background: #0095d9;
  font-size: 1.5rem;
  color: white;
  line-height: 1.3;
  z-index: -1;
}
.interview-content-question h3::first-letter {
  font-size: 2.5rem;
  color: white;
}

.interview-content-answer {
  padding: 0 2rem;
}

.interview-content-answer h3 {
  padding: 5px 5px 5px 10px;
  color: #0095d9;
  /* margin-left: -30px; */
  line-height: 1.3;
  z-index: -1;
  font-size: 1.5rem;
}
.interview-content-answer h3::first-letter {
  font-size: 2.5rem;
  color: #0095d9;
}

.interview-content-answer p {
  color: #fff;
  text-align: right;
  padding: 5px;
}

/* レスポンシブ用の申し込みフォーム */

.responsive-popapp-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0095d9,
    0 0 82px #0095d9, 0 0 92px #0095d9, 0 0 102px #0095d9, 0 0 151px #0095d9;
}

.form-box {
  width: auto;
  height: auto;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0095d9,
    0 0 0.8rem #0095d9, 0 0 2.8rem #0095d9, inset 0 0 1.3rem #0095d9;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0095d9,
      0 0 80px #0095d9, 0 0 90px #0095d9, 0 0 100px #0095d9, 0 0 150px #0095d9;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0095d9,
      0 0 45px #0095d9, 0 0 55px #0095d9, 0 0 70px #0095d9, 0 0 80px #0095d9;
  }
}

@media screen and (max-width: 700px) {
  .content {
    margin-top: 50%;
  }

  .interview-content-list {
    margin: initial;
    width: initial;
    height: initial;
    display: block;
  }
  .interview-content-list-text {
    width: 100%;
    margin: initial;
  }
  .interview-content-list-text h3 {
    font-size: 4rem;
  }
  .interview-content-question h3 {
    margin: 5px;
  }
  .interview-content-question h3::first-letter {
    font-size: 5rem;
  }
  .interview-content-answer h3::first-letter {
    font-size: 5rem;
  }
}

/* トップに戻る */
html {
  scroll-behavior: smooth;
}
.gotop {
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0095d9,
    0 0 0.8rem #0095d9, 0 0 2.8rem #0095d9, inset 0 0 1.3rem #0095d9;
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #fff;
  padding-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  font-size: 85%;
  text-decoration: none;
  color: #333;
  opacity: 0.5;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10000;
}
.gotop::before {
  content: "";
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 25%;
  height: 25%;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}
.gotop:hover {
  opacity: 1;
}

/* posse1へのリンク */

@media (max-width: 750px) {
  .gotop {
    display: none;
  }
  .gotop::before {
    bottom: 0;
  }
}
