@charset "UTF-8";

html,
body {
  height: 100%;
  background-color: #333;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

.content {
  margin: 0 auto;
  max-width: 80%;
}

.interview-content {
  margin: 30px 0;
}

.interview-content-list {
  width: 100%;
  height: 300px;
  display: flex;
  margin: 30px 0;
  border: solid 0.5px #fff;
}

.interview-content-list-profile {
  height: 100%;
  position: relative;
}

.interview-content-list-profile img {
  width: auto;
  height: 100%;
  filter: drop-shadow(20px 20px 0 #0095d9);
}

.interview-content-list-profile-text {
  text-align: right;
  padding:2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.interview-content-list-profile-text p {
  font-size: 2em;
  color: #fff;
}

.interview-content-list-text {
  height: 300px;
  width: 70%;
  position: relative;
  text-align: left;
  margin-left: 20px;
}

.interview-content-question {
  padding: 2rem;
}
.interview-content-question h1 {
  padding: 5px 5px 5px 42px;
  background: #0095d9;
  font-size: 1rem;
  color: white;
  margin-left: -33px;
  line-height: 1.3;
  z-index: -1;
}
.interview-content-question h1::first-letter {
  font-size: 2rem;
  color: white;
}


.interview-content-answer {
  padding: 0 2rem;
}

.interview-content-answer h1 {
  padding: 5px 5px 5px 42px;
  color: #fff;
  margin-left: -33px;
  line-height: 1.3;
  z-index: -1;
}
.interview-content-answer::first-letter {
  font-size: 2rem;
  color: #0095d9;
}
