body {
  background: linear-gradient(#07070A,black);
}
.main-inner-game{
  padding-top: 200px;
  padding-bottom:50px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
<<<<<<< HEAD
  height: 900px;
  /* background-image: url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg); */
=======
  /* height: 900px; */
  background-image: url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg);
>>>>>>> 9a72be2e71a8fb7c23ceefedc910f8c3157c9267
  background-repeat: repeat;
}

.introduction-part{
  display: block;
  text-align: center;
  color: #FFF;
  text-shadow:
  0 0 5px #FFF,
  0 0 12px #FFF,
<<<<<<< HEAD
  0 0 21px rgb(39, 235, 137),
  0 0 33px rgb(37, 192, 37);
  font-size: 20px;
  margin-top: 25rem;
=======
  /* 0 0 21px rgb(6, 238, 122), */
  0 0 33px green;
  font-size: 30px;
>>>>>>> 9a72be2e71a8fb7c23ceefedc910f8c3157c9267
  margin-bottom: 5%;
}
.introduction-part-text {
  font-family: 'DotGothic16', sans-serif;
}
/*枠線が伸びて出現*/

.lineTrigger{
  position: relative; /* 枠線が書かれる基点*/
  opacity:0;
}

.lineTrigger.lineanime{
  animation-name:lineAnimeBase;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

@keyframes lineAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;  
}
}

/*上下線*/
.lineTrigger::before,
.lineTrigger::after{
  position: absolute;
  content:"";
  width:0;
  height:1px;
  background:#333;/* 枠線の色*/
}

/*左右線*/
.line2::before,
.line2::after{
  position: absolute;
  content:"";
  width: 1px;
  height:0;
  background:#333;/* 枠線の色*/
}

/*上線*/
.lineTrigger::before {
  top:0;
  left:0;
}

.lineTrigger.lineanime::before {
  animation: lineAnime .5s linear 0s forwards;/*表示されて0秒後に上線が0.5秒かけて表示*/
}

/*右線*/
.line2::before{ 
  top:0;
  right:0;
}

.lineTrigger.lineanime .line2::before {
  animation: lineAnime2 .5s linear .5s forwards;/*表示されて0.5秒後に右線が0.5秒かけて表示*/
}

/*下線*/
.lineTrigger::after { 
  bottom:0;
  right:0;
}

.lineTrigger.lineanime::after {
  animation: lineAnime .5s linear 1s forwards;/*表示されて1秒後に下線が0.5秒かけて表示*/
}

/*左線*/
.line2::after{ 
  bottom:0;
  left:0;
}

.lineTrigger.lineanime .line2::after {
  animation: lineAnime2 .5s linear 1.5s forwards;/*表示されて1.5秒後に左線が0.5秒かけて表示*/
}

@keyframes lineAnime {
  0% {width:0%;}
    100%{width:100%;}
}

@keyframes lineAnime2 {
  0% {height:0%;}
    100%{height:100%;}
}

/*枠線内側の要素*/

.lineTrigger.lineanime .linein-appear{
  animation: lineInnerAnime .5s linear 1.5s forwards;/*1.5秒後に中央のエリアが0.5秒かけて表示*/
  opacity: 0;/*初期値を透過0にする*/ 
}

@keyframes lineInnerAnime{
  0% {opacity:0;}
    100% {opacity:1;}
}
.lineTrigger {
  margin-bottom: 1rem;
}
.line2 {
  padding: 5rem 0;
}
.linein-appear  {
  color: white;
  font-family: 'DotGothic16', sans-serif;
  font-size: 2rem;
}

/* ここからゲームのcss */
.game-title-ribbon {
  display: inline-block;
  position: relative;
  height: 45px;
  text-align: center;
  box-sizing: border-box;

  margin-bottom: 30px;
}
.game-title-ribbon:before {/*左側のリボン端*/
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  left: -35px;
  z-index: -2;
  border: 20px solid #C90000;
  border-left-color: transparent;/*山形に切り抜き*/
}

.game-title-ribbon:after {/*右側のリボン端*/
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  right: -35px;
  z-index: -2;
  border: 20px solid #C90000;
  border-right-color: transparent;/*山形に切り抜き*/
}

.game-title-ribbon h3 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 20px;
  line-height: 45px;
  font-size: 18px;
  /* font-family: ; */
  color: #FFF;
  background: #FB0000;/*真ん中の背景色*/
}
.game-title-ribbon h3:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-right: solid 15px #740000;/*左の折り返し部分*/
}
.game-title-ribbon h3:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-left: solid 15px #740000;/*右の折り返し部分*/
}

.carpet{
  z-index: 9999;
  width: 100%;
  position: relative;
  height: 740px;
  background-image: url(../miniGame/game_pictures/redcarpet.jpg)
}


table{
  /* margin:10px auto; */
  width: 720px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

td.card{
  width:120px;
  height:180px;
  /* width:160px;
  height:240px; */

  background-size:cover;
  border-radius: 10px;
}

td.card.back{
  background-image:url(../miniGame/game_pictures/z01.jpg) !important;
}
