body {
  background: linear-gradient(#07070A,black);
}
.main-inner-game{
  padding-top: 200px;
  padding-bottom:50px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  height: auto;
  /* background-image: url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg); */
  background-repeat: repeat;
}

/* ゲームページこんなものも作れるようにのテキスト！！！ */
.introduction-part{
  display: block;
  text-align: center;
  color: #FFF;
  text-shadow:
  0 0 5px #FFF,
  0 0 12px #FFF,
  0 0 21px rgb(39, 235, 137),
  0 0 33px rgb(37, 192, 37);
  font-size: 2rem;
  margin-top: 25rem;
  margin-bottom: 10rem;
}
.introduction-part-text {
  font-family: 'DotGothic16', sans-serif;
  padding-top: 1rem;
}

/* ゲーム説明の枠 */
.game-introduction-wrapper {
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}
/* パソコン表示の時は改行させない */
.br-sp {
  display: none;
}

/*枠線が伸びて出現*/
.lineTrigger{
  position: relative; /* 枠線が書かれる基点*/
  opacity:0;
}
#lineTrigger1 {
  margin-top: 5rem;
}

.lineTrigger.lineanime{
  animation-name:lineAnimeBase;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

@keyframes lineAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;
}
}

/*上下線*/
.lineTrigger::before,
.lineTrigger::after{
  position: absolute;
  content:"";
  width:0;
  height:3px;
  background:rgba(243, 255, 232, 0.8);/* 枠線の色*/
}

/*左右線*/
.line2::before,
.line2::after{
  position: absolute;
  content:"";
  width: 3px;
  height:0;
  background:rgba(238, 255, 223, 0.8);/* 枠線の色*/
}

/*上線*/
.lineTrigger::before {
  top:0;
  left:0;
}

.lineTrigger.lineanime::before {
  animation: lineAnime .5s linear 0s forwards;/*表示されて0秒後に上線が0.5秒かけて表示*/
}

/*右線*/
.line2::before{
  top:0;
  right:0;
}

.lineTrigger.lineanime .line2::before {
  animation: lineAnime2 .5s linear .5s forwards;/*表示されて0.5秒後に右線が0.5秒かけて表示*/
}

/*下線*/
.lineTrigger::after {
  bottom:0;
  right:0;
}

.lineTrigger.lineanime::after {
  animation: lineAnime .5s linear .5s forwards;/*表示されて1秒後に下線が0.5秒かけて表示*/
}

/*左線*/
.line2::after{
  bottom:0;
  left:0;
}

.lineTrigger.lineanime .line2::after {
  animation: lineAnime2 .5s linear .5s forwards;/*表示されて1.5秒後に左線が0.5秒かけて表示*/
}

@keyframes lineAnime {
  0% {width:0%;}
    100%{width:100%;}
}

@keyframes lineAnime2 {
  0% {height:0%;}
    100%{height:100%;}
}

/*枠線内側の要素*/

.lineTrigger.lineanime .linein-appear{
  animation: lineInnerAnime .5s linear .5s forwards;/*1.5秒後に中央のエリアが0.5秒かけて表示*/
  opacity: 0;/*初期値を透過0にする*/
}
.linein-appear-text {
  line-height: 2;
  opacity: 0.8;
}
@keyframes lineInnerAnime{
  0% {opacity:0;}
    100% {opacity:1;}
}
.lineTrigger {
  margin-bottom: 1rem;
}
.line2 {
  padding: 5rem 0;
}
.linein-appear  {
  color: white;
  font-family: 'DotGothic16', sans-serif;
  font-size: 2rem;
}

/* 実際にplayのテキスト */
.game-play-text {
  display: block;
  text-align: center;
  color: #FFF;
  text-shadow:
  0 0 5px #FFF,
  0 0 12px #FFF,
  0 0 21px rgb(39, 235, 137),
  0 0 33px rgb(37, 192, 37);
  font-size: 2rem;
  margin: 5rem 0 5rem 0;
  font-family: 'DotGothic16', sans-serif;
}


/* ここからゲームのcss */

/* リボンのスタイル */
.game-title-ribbon {
  display: inline-block;
  position: relative;
  height: 45px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.game-title-ribbon:before {/*左側のリボン端*/
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  left: -35px;
  z-index: -2;
  border: 20px solid #C90000;
  border-left-color: transparent;/*山形に切り抜き*/
}

.game-title-ribbon:after {/*右側のリボン端*/
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  right: -35px;
  z-index: -2;
  border: 20px solid #C90000;
  border-right-color: transparent;/*山形に切り抜き*/
}

.game-title-ribbon h3 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 20px;
  line-height: 45px;
  font-size: 18px;
  /* font-family: ; */
  color: #FFF;
  background: #FB0000;/*真ん中の背景色*/
}
.game-title-ribbon h3:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-right: solid 15px #740000;/*左の折り返し部分*/
}
.game-title-ribbon h3:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-left: solid 15px #740000;/*右の折り返し部分*/
}
.game-title-ribbon-text  {
  font-family: 'Quintessential', cursive;
  font-style: italic;
}

/* 神経衰弱ゲーム */
.carpet{
  z-index: 999999;
  /* text-align: center; */
  margin: 0 auto 10rem;
  position: relative;
  height: 800px;
  width: 1000px;
  background-image: url(../miniGame/game_pictures/redcarpet.jpg)
}

table{
  /* margin:10px auto; */
  width: 720px;
  height: 720px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 140px;
  margin-right: 140px;
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%); */
}

td.card{
  width:120px;
  height:180px;
  /* width:160px;
  height:240px; */

  background-size:cover;
  border-radius: 10px;
}

td.card.back{
  background-image:url(../miniGame/game_pictures/z01.jpg) !important;
}

.fixed-info.active {
  position: fixed;
  top: 30px;
  top: 30px;
}
.fixed-info {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 170px;
  right: 30px;
  z-index: 10;
  box-shadow: 0 5px 30px rgb(0 0 0 / 70%);
}

.fixed-info-textbox {
  padding: 16px 20px;
}

.fixed-info-text {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.7;
}

.fixed-info-text h5 {
  font-size: 1rem;
  color:#333;
}

.fixed-info-text h5:hover {
  color: #0095d9;
}


.fixed-info-close {
  background: #0095d9;
  /* border-radius: 50%; */
  width: 25px;
  height: 25px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.fixed-info-close:before {
  content: "";
  background: #ffffff;
  width: 17px;
  height: 1px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  box-sizing: border-box;
  margin-top: -1px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.fixed-info-close:after {
  content: "";
  background: #ffffff;
  width: 17px;
  height: 1px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  box-sizing: border-box;
  margin-top: -1px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.opa {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

/* ブロックゲーム */
.block-breaking-wrapper {
  display: block;
  position: relative;
  padding: 25rem 0;
}
canvas {
  display: block;
  background: linear-gradient(pink,white);
  width: 50%;
  color: rgb(253, 132, 132);
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.dialog {
  display: none;
  width: 300px;
  /* margin: 0 auto; */
  padding: 30px 20px;
  text-align: center;
  background: rgb(253, 132, 132,0.1);
  border: 1px solid rgb(253, 132, 132);
  box-shadow: 2px 2px 4px rgb(240, 229, 229);
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.dialog-3 {
  /* display: none; */
  width: 300px;
  /* margin: 0 auto; */
  padding: 30px 20px;
  text-align: center;
  background: rgb(253, 132, 132,0.1);
  border: 1px solid rgb(253, 132, 132);
  box-shadow: 2px 2px 4px rgb(240, 229, 229);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.dialog-text {
  color: indianred;
  font-family: 'Supermercado One', cursive;
  padding-bottom: 0.3rem;
}
.button-text {
  padding: 0.5rem;
  border-color: pink;
  background: rgb(243, 213, 213,0.1);
  color: indianred;
  font-family: 'Supermercado One', cursive;
}
/* ゲームの最後の言葉 */
#lineTrigger3 {
  margin-bottom: 10rem;
}

/* ゲームフッター */
.game-footer {
  z-index: -1;
}
.footer-wrapper {
  height: 10rem;
  width: 100%;
}

/* スマホ表示の時は改行させる */
@media screen and (min-width: 768px){
  .br-sp {display: block; }
  }




















  /* ここから先ポップアップ */

.fixed-info.active {
  position: fixed;
  top: 150px;
  z-index: 100000000000;
}
.fixed-info {
  position: absolute;
  right: 30px;
  z-index: 10;
  padding: 20px;
  box-shadow: 0 0 5px #0095d9, inset 0 0 5px #0095d9, 0 0 10px #0095d9,
    inset 0 0 10px #0095d9, 0 0 25px #0095d9, inset 0 0 25px #0095d9,
    0 15px 3px #000;
  border: 2px solid #fff;
  border-radius: 15px;
  width: auto;
  height:auto;
  background-color:#fff;
}

.fixed-info-textbox {
  padding: 16px 20px;
  display: block;
  line-height: 1.3;
  color: #ffd8d8;
}

.fixed-info-text {
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color:#333;
  font-weight:900;
}



.fixed-info-text h2{
  cursor: pointer;
}

.fixed-info-text h2:hover{
  color:#0095d9;
}

.fixed-info-close {
  box-shadow: 0 0 5px #0095d9, inset 0 0 5px #0095d9, 0 0 10px #0095d9,
    inset 0 0 10px #0095d9, 0 0 25px #0095d9, inset 0 0 25px #0095d9;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.fixed-info-close:before {
  content: "";
  background: #ffffff;
  width: 17px;
  height: 1px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  box-sizing: border-box;
  margin-top: -1px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.fixed-info-close:after {
  content: "";
  background: #ffffff;
  width: 17px;
  height: 1px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  box-sizing: border-box;
  margin-top: -1px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.opa {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}
