/* ローディング */
.svg_text svg{
	width: 500px;
}
.svg_text path {
	fill: transparent;
	stroke: rgb(255, 255, 255); 
	stroke-width: 10;
	stroke-dasharray: 1500;
	stroke-dashoffset: 0;
	animation: path 1.5s ease-in forwards;
}

@keyframes path {
	0%{
		fill: transparent;
		stroke-dashoffset: 1500;
	}
	90%{
		fill: transparent;
		stroke-width: 10;
	}
	100%{
		fill: rgb(255, 255, 255);
		stroke-width: 0;
		stroke-dashoffset: 0;
	}
}
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.723);
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/

body{
    background:#333;/*遷移アニメーションと同じ色を指定*/
}

body.appear{
    /* background:rgb(255, 255, 255); */
    /*画面を開いた後の背景色を指定*/
}

.splash-bg{
    display: none;
	content: "";
	position:fixed;
	transform: scale(100);
	background-color: rgb(0, 0, 0);/*伸びる背景色の設定*/
	z-index: 999;
    /*丸のスタートの形状*/
    top:calc(50% - 1rem);/*50%から円の半径を引いた値*/
    left:calc(50% - 1rem);/*50%から円の半径を引いた値*/
	width: 2rem;
	height: 2rem;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splash-bg{
    display: block;
    border-radius: 50%;	
	animation-name:PageAnime;
	animation-duration:2s;
	animation-fill-mode:forwards;
}

@keyframes PageAnime{
	0% {/*丸のスタート位置と形状*/
		transform: scale(100);
	
	}
	100% {/*丸の終了位置と形状*/
		transform: scale(0);
		display: none;/*終了時は消える*/
	}
}

/*画面遷移の後現れるコンテンツ設定*/
#whole-wrapper{
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #whole-wrapper{
	animation-name:PageAnimeAppear;
	animation-duration: 1s;
	animation-delay: .8s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
    90% {
        opacity: 0;
    }
	100% {
	opacity: 1;
}
}