.timer-wrapper{
background-image: url(../picture/2022-02-14\ 18.38のイメージ.jpg);
/* とりあえずわかりやすくするために色付けた */
}

.timer-text{
  color: white;
  font-family: 'Iceland', cursive;
}

.timer-display{
margin-top: 20px;
}



.timer-num{
  color: white;
  font-size: 40px;
}

.timer-kanji{
  color: white;
  font-size: 25px;
}

.timer-day{
  margin-bottom: 10px;
}