html, body {
    height: 100%
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
/* トップページのロゴ */
.first-view {
    width: 100%;
    height: 100vh;
    background: #112 url(../picture/39BD94A7-EAB6-4A2C-99F8-59133FFD3A1A.jpeg) center no-repeat;
    background-size: cover;
    margin: 0;
}

.top-page-logo {
    text-align: center;
    width: 65%;
    height: 250px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}

.top-page-logo b {
    font: 400 15vh "Vibur";
    font-family: 'Vibur', cursive;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
}

.top-page-logo b span {
    animation: blink linear infinite 2s;
}

.top-page-logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}
/* 動画 */

.introduction-video  {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 99999999;
    padding: 8rem 10rem;
    background: rgba(94, 92, 92, 0.382);
    
}
.video-buttons {
    position: absolute;
    bottom: 10%;
    left: 0;
    opacity: 0.8;
}
#playBtn {
    padding-right: .5rem;
    padding-bottom: .2rem;
    transform: rotate(-30deg);
}
.close-button {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}
/* History のロゴ */
.History-logo {
    text-align: center;
    width: 65%;
    height: 250px;
    margin: auto;
    position: absolute;
    top: -50%;
    left: -50%;
    right: 0;
    bottom: 0;
    user-select: none;
}

.History-logo b {
    font: 400 15vh "Vibur";
    font-family: 'Vibur', cursive;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
}

.History-logo b span {
    animation: blink linear infinite 2s;
}

.History-logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}
/* miniGameのロゴ */
.mini-game-logo {
    text-align: center;
    width: 65%;
    height: 250px;
    margin: auto;
    position: absolute;
    top: -50%;
    left: -50%;
    right: 0;
    bottom: 0;
    user-select: none;
}

.mini-game-logo b {
    font: 400 15vh "Vibur";
    font-family: 'Vibur', cursive;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
}

.mini-game-logo b span {
    animation: blink linear infinite 2s;
}

.mini-game-logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}
/* interviewのロゴ */
.interview-logo {
    text-align: center;
    width: 65%;
    height: 250px;
    margin: auto;
    position: absolute;
    top: -50%;
    left: -50%;
    right: 0;
    bottom: 0;
    user-select: none;
}

.interview-logo b {
    font: 400 15vh "Vibur";
    font-family: 'Vibur', cursive;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
}

.interview-logo b span {
    animation: blink linear infinite 2s;
}

.interview-logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}
/* interviewのロゴ -2 */
.interview-logo-2 {
    text-align: center;
    width: 100%;
    height: 100px;
    margin: auto;
    position: absolute;
    top: -35%;
    left: -30%;
    right: 0;
    bottom: 0;
    user-select: none;
}

.interview-logo-2 b {
    font: 400 5vh "Vibur";
    font-family: 'Vibur', cursive;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
}

.interview-logo-2 b span {
    animation: blink linear infinite 2s;
}

.interview-logo-2 b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}
/* coming soonのロゴ */
.coming-soon-logo {
    text-align: center;
    width: 100%;
    height: 100px;
    margin: auto;
    user-select: none;
}

.coming-soon-logo b {
    font: 400 10vh "Vibur";
    font-family: 'Vibur', cursive;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #fff644, 0 0 0.5em #a0ee8e, 0 0 0.1em #44ffe9, 0 10px 3px #000;
}

.coming-soon-logo b span {
    animation: blink linear infinite 2s;
}

.coming-soon-logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}
/* headerのロゴ */
.header-home-logo {
    text-align: center;
    width: 100%;
    height: 100px;
    margin: auto;
    user-select: none;
}

.header-home-logo b {
    font: 400 5vh "Vibur";
    font-family: 'Vibur', cursive;
    color: #fee;
    text-shadow: 0 -40px 400px, 0 0 2px, 0 0 1em #642828, 0 0 0.5em #39662c, 0 0 0.1em #30635e, 0 10px 3px #000;
}
/* ロゴのアニメーション */
@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
    }

    80% {

        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

/* ネオンロゴのiPad表示対応 */

@media (max-width: 900px) { 
    /* トップページのロゴ */
    .top-page-logo {
        text-align: center;
        width: 65%;
        height: 250px;
        margin: auto;
        position: absolute;
        top: -20%;
        left: 0;
        
        user-select: none;
    }
    .top-page-logo b {
        font: 400 10vh "Vibur";
        font-family: 'Vibur', cursive;
        color: #fee;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
    }
    .History-logo {
        text-align: center;
        width: 65%;
        height: 250px;
        margin: auto;
        position: absolute;
        top: -50%;
        left: -50%;
        right: 0;
        bottom: 0;
        user-select: none;
    }
    .History-logo b {
        font: 400 10vh "Vibur";
        font-family: 'Vibur', cursive;
        color: #fee;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
    }
    .mini-game-logo {
        text-align: center;
        width: 65%;
        height: 250px;
        margin: auto;
        position: absolute;
        top: -50%;
        left: -50%;
        right: 0;
        bottom: 0;
        user-select: none;
    }
    
    .mini-game-logo b {
        font: 400 10vh "Vibur";
        font-family: 'Vibur', cursive;
        color: #fee;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
    }
    .interview-logo {
        text-align: center;
        width: 65%;
        height: 250px;
        margin: auto;
        position: absolute;
        top: -50%;
        left: -50%;
        right: 0;
        bottom: 0;
        user-select: none;
    }
    
    .interview-logo b {
        font: 400 10vh "Vibur";
        font-family: 'Vibur', cursive;
        color: #fee;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
    }
    .coming-soon-logo {
        text-align: center;
        width: 100%;
        height: 100px;
        user-select: none;
    }
    
    .coming-soon-logo b {
        font: 400 5vh "Vibur";
        font-family: 'Vibur', cursive;
        color: #fee;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #fff644, 0 0 0.5em #5edc42, 0 0 0.1em #44ffe9, 0 10px 3px #000;
    }
 }

/* follow me @nodws */
#btn-twtr {
    clear: both;
    color: #fff;
    border: 2px solid;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: 'Staatliches', cursive;
    font-size: 14px;
    width: 13em;
    padding: 5px 10px;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.4
}

#btn-twtr:hover {
    color: rgb(13, 12, 12);
    opacity: 1
}

/* first viewの動画再生ボタン */
/* 無限に波紋が広がる */
.btnripple2 {
    /*波紋の基点とするためrelativeを指定*/
    position: relative;
    /*波紋の形状*/
    display: inline-block;
    background: rgb(227, 227, 227, 0.6);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #ccc;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverした際の背景色の設定*/
.btnripple2:hover {
    background: rgb(240, 240, 240);
}

/*波形を2つ設定*/
.btnripple2::after,
.btnripple2::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -25%;
    /*波形の形状*/
    border: 1px solid rgb(227, 227, 227);
    width: 150%;
    height: 150%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 1;
    /*ループするアニメーションの設定*/
    animation: 1s circleanime linear infinite;
}

/*波形の2つ目は0.5秒遅らせてアニメーション*/
.btnripple2::before {
    animation-delay: .5s;
}

/*波形のアニメーション*/
@keyframes circleanime {
    0% {
        transform: scale(0.68);
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/*中央矢印*/
.btnripple2 span::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 38%;
    left: 45%;
    /*矢印の形状*/
    border: 14px solid transparent;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-color: rgb(76, 76, 76);
}


.wavey-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999;
    cursor: pointer;
}
/* 表示非表示用class */
.real {
    opacity: 1;
}
.fake {
    opacity: 0;
}

/* スクロールマーク */
/*スクロールダウン全体の場所*/
.scrolldown3 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    bottom: 10px;
    right: 50%;
    /*マウスの動き1.6秒かけて動く永遠にループ*/
    animation: mousemove 1.6s ease-in-out infinite;
}

/*下からの距離が変化して上から下に動く*/
@keyframes mousemove {
    0% {
        bottom: 15px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 15px;
    }
}

/*Scrollテキストの描写*/
.scrolldown3 span {
    /*描画位置*/
    position: absolute;
    left: -15px;
    bottom: 45px;
    /*テキストの形状*/
    color: rgba(238, 238, 238, 0.483);
    font-size: 0.7rem;
    letter-spacing: 0.05em;
}

/*マウスの中の線描写 */
.scrolldown3 span::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 10px;
    left: 17px;
    /*線の形状*/
    width: 1px;
    height: 15px;
    background: rgba(238, 238, 238, 0.572);
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: mousepathmove 1.4s linear infinite;
    opacity: 0;
}

/*上からの距離・不透明度・高さが変化して上から下に流れる*/
@keyframes mousepathmove {
    0% {
        height: 0;
        top: 10px;
        opacity: 0;
    }

    50% {
        height: 30px;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 30px;
        opacity: 0;
    }
}

/*マウスの描写 */
.scrolldown3:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    left: -10px;
    /*マウスの形状*/
    width: 25px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(238, 238, 238, 0.49);
}


/*マウスの中の丸の描写*/
.scrolldown3:after {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 20px;
    left: 0;
    /*丸の形状*/
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid rgba(238, 238, 238, 0.531);
}
/* ↑ここまでファーストビュー */

.sns-links-position  {
    position: fixed;
    top: 50%;
}
.sns-link {
    padding: 1rem;
}
.sns-link-img-size {
    width: 30px;
    height: 30px;
}
.sns-link-img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
/* snsリンクのiPad対応 */
@media (max-width: 900px) { 
    .sns-links-position  {
        position: fixed;
        top: 70%;
    }
    .sns-link-img-size {
        width: 70px;
        height: 70px;
    }
 }
@import url(//fonts.googleapis.com/css?family=Vibur);
footer{
    position: relative;
    display: flex;
    flex-direction: column;
    background-image:  url(../picture/39BD94A7-EAB6-4A2C-99F8-59133FFD3A1A.jpeg);
    height: 350px;
}
  /* フッターロゴのデザイン */
.footer-logo{
    background-image: url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}
.footer-logo b{
    font: 300 13vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
}
.footer-logo b span{
    animation: blink linear infinite 2s;
}
.footer-logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
}
@keyframes blink {
    78% {
    color: inherit;
    text-shadow: inherit;
    }
    79%{
    color: #333;
    }
    80% {
    
    text-shadow: none;
    }
    81% {
    color: inherit;
    text-shadow: inherit;
    }
    82% {
    color: #333;
    text-shadow: none;
    }
    83% {
    color: inherit;
    text-shadow: inherit;
    }
    92% {
    color: #333;
    text-shadow: none;
    }
    92.5% {
    color: inherit;
    text-shadow: inherit;
    }
}

.register-box{
    display: flex;
    text-align: center;
    position: absolute;
    width: 300px;
    top: 280px;
    left: 26.5%;
}
.register-button{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    outline: none;
}
:root{
    --neon-border-color:rgb(23, 214, 81);
    --neon-border-color2:rgb(22, 227, 241);
}

.register-button h1 span{
    display: block;
    position: absolute;
    font-size: 3rem;
    font-weight: 200;
    width: 100%;
    height: 100%;
    font-style: italic;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.rotateback span:nth-child(1){
    color: #fff;
    text-shadow: 
    0 0 8px #fff,
    0 0 13px #fff,
    0 0 21px #fff,
    0 0 27px #44ffe9,
    0 0 38px #0e33da;
    padding: 1rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    background-color: var(--neon-border-color);
    transform: rotateX(0deg);/*はじめは回転なし*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}
.rotateback:hover span:nth-child(1) {
    transform: rotateX(90deg);/* X軸に90度回転 */
}
.rotateback span:nth-child(2) {
    color: #fff;
    text-shadow: 
    0 0 8px #fff,
    0 0 13px rgba(255, 255, 255, 0.582),
    0 0 21px rgba(255, 255, 255, 0.267),
    0 0 27px #153ceb,
    0 0 38px #880edabe;
    background-color: var(--neon-border-color2);
    padding: 1rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    transform: rotateX(-90deg);/*はじめはX軸に-90度回転*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}
.rotateback:hover span:nth-child(2) {
    transform: rotateX(0deg);/* X軸に0度回転 */
}
.register-button a {
    text-decoration: none;
}


  /* Media quizzles */