html, body {
    height: 100%
}

/* first viewの welcome to posse2 */
.first-view {
    width: 100%;
    height: 100vh;
    background: #112 url(../picture/39BD94A7-EAB6-4A2C-99F8-59133FFD3A1A.jpeg) center no-repeat;
    background-size: cover;
    margin: 0;
    
}

.logo {
    text-align: center;
    width: 65%;
    height: 250px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}

.logo b {
    font: 400 15vh "Vibur";
    font-family: 'Vibur', cursive;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
}

.logo b span {
    animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
    }

    80% {

        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}


/* follow me @nodws */
#btn-twtr {
    clear: both;
    color: #fff;
    border: 2px solid;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: 'Staatliches', cursive;
    font-size: 14px;
    width: 13em;
    padding: 5px 10px;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.4
}

#btn-twtr:hover {
    color: #fff;
    opacity: 1
}

/* first viewの動画再生ボタン */
/* 無限に波紋が広がる */
.btnripple2 {
    /*波紋の基点とするためrelativeを指定*/
    position: relative;
    /*波紋の形状*/
    display: inline-block;
    background: rgb(227, 227, 227, 0.6);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #ccc;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverした際の背景色の設定*/
.btnripple2:hover {
    background: rgb(240, 240, 240);
}

/*波形を2つ設定*/
.btnripple2::after,
.btnripple2::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -25%;
    /*波形の形状*/
    border: 1px solid rgb(227, 227, 227);
    width: 150%;
    height: 150%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 1;
    /*ループするアニメーションの設定*/
    animation: 1s circleanime linear infinite;
}

/*波形の2つ目は0.5秒遅らせてアニメーション*/
.btnripple2::before {
    animation-delay: .5s;
}

/*波形のアニメーション*/
@keyframes circleanime {
    0% {
        transform: scale(0.68);
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/*中央矢印*/
.btnripple2 span::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 38%;
    left: 45%;
    /*矢印の形状*/
    border: 14px solid transparent;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-color: rgb(76, 76, 76);
}

/*========= レイアウトのためのCSS ===============*/

body {
    text-align: center;
}

p {
    margin: 0 0 10px 0;
}

.wavey-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* スクロールマーク */
/*スクロールダウン全体の場所*/
.scrolldown3 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    bottom: 10px;
    right: 50%;
    /*マウスの動き1.6秒かけて動く永遠にループ*/
    animation: mousemove 1.6s ease-in-out infinite;
}

/*下からの距離が変化して上から下に動く*/
@keyframes mousemove {
    0% {
        bottom: 15px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 15px;
    }
}

/*Scrollテキストの描写*/
.scrolldown3 span {
    /*描画位置*/
    position: absolute;
    left: -15px;
    bottom: 45px;
    /*テキストの形状*/
    color: rgba(238, 238, 238, 0.483);
    font-size: 0.7rem;
    letter-spacing: 0.05em;
}

/*マウスの中の線描写 */
.scrolldown3 span::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 10px;
    left: 17px;
    /*線の形状*/
    width: 1px;
    height: 15px;
    background: rgba(238, 238, 238, 0.572);
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: mousepathmove 1.4s linear infinite;
    opacity: 0;
}

/*上からの距離・不透明度・高さが変化して上から下に流れる*/
@keyframes mousepathmove {
    0% {
        height: 0;
        top: 10px;
        opacity: 0;
    }

    50% {
        height: 30px;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 30px;
        opacity: 0;
    }
}

/*マウスの描写 */
.scrolldown3:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    left: -10px;
    /*マウスの形状*/
    width: 25px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(238, 238, 238, 0.49);
}


/*マウスの中の丸の描写*/
.scrolldown3:after {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 20px;
    left: 0;
    /*丸の形状*/
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid rgba(238, 238, 238, 0.531);
}
/* ↑ここまでファーストビュー */

.sns-links-position  {
    position: fixed;
    top: 50%;
}
.sns-link {
    padding: 1rem;
}
.sns-link-img-size {
    width: 30px;
    height: 30px;
}
.sns-link-img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
@import url(//fonts.googleapis.com/css?family=Vibur);
footer{
    position: relative;
    display: flex;
    flex-direction: column;
    background-image:  url(../picture/39BD94A7-EAB6-4A2C-99F8-59133FFD3A1A.jpeg);
    height: 350px;
}
  /* フッターロゴのデザイン */
.footer-logo{
    background-image: url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}
.footer-logo b{
    font: 300 13vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #b7c4c7, 0 0 0.1em #44ffe9, 0 10px 3px #000;
}
.footer-logo b span{
    animation: blink linear infinite 2s;
}
.footer-logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
}
@keyframes blink {
    78% {
    color: inherit;
    text-shadow: inherit;
    }
    79%{
    color: #333;
    }
    80% {
    
    text-shadow: none;
    }
    81% {
    color: inherit;
    text-shadow: inherit;
    }
    82% {
    color: #333;
    text-shadow: none;
    }
    83% {
    color: inherit;
    text-shadow: inherit;
    }
    92% {
    color: #333;
    text-shadow: none;
    }
    92.5% {
    color: inherit;
    text-shadow: inherit;
    }
}

.register-box{
    display: flex;
    text-align: center;
    position: absolute;
    width: 300px;
    top: 280px;
    left: 26.5%;
}
.register-button{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    outline: none;
}
:root{
    --neon-border-color:rgb(23, 214, 81);
    --neon-border-color2:rgb(22, 227, 241);
}

.register-button h1 span{
    display: block;
    position: absolute;
    font-size: 3rem;
    font-weight: 200;
    width: 100%;
    height: 100%;
    font-style: italic;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.rotateback span:nth-child(1){
    color: #fff;
    text-shadow: 
    0 0 8px #fff,
    0 0 13px #fff,
    0 0 21px #fff,
    0 0 27px #44ffe9,
    0 0 38px #0e33da;
    padding: 1rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    background-color: var(--neon-border-color);
    transform: rotateX(0deg);/*はじめは回転なし*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}
.rotateback:hover span:nth-child(1) {
    transform: rotateX(90deg);/* X軸に90度回転 */
}
.rotateback span:nth-child(2) {
    color: #fff;
    text-shadow: 
    0 0 8px #fff,
    0 0 13px rgba(255, 255, 255, 0.582),
    0 0 21px rgba(255, 255, 255, 0.267),
    0 0 27px #153ceb,
    0 0 38px #880edabe;
    background-color: var(--neon-border-color2);
    padding: 1rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    transform: rotateX(-90deg);/*はじめはX軸に-90度回転*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}
.rotateback:hover span:nth-child(2) {
    transform: rotateX(0deg);/* X軸に0度回転 */
}
.register-button a {
    text-decoration: none;
}


  /* Media quizzles */